body{
    padding:0;
    margin:0;
    font-family: 'Golos', sans-serif;
    font-weight: 900;
}

@font-face {
  font-family: 'Golos';
  src: url('golos/Golos\ Text_Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


h1{
    font-size: 80pt;
}

h2{
    font-size: 40pt;
    margin: 0; 
}

header{
    width: 100%;
    height: 165px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(0, 138, 205, 0.52);
    padding:0;
    margin:0;
}

#logo{
    margin-left: 40px;
    margin-top: 20px;
}

.logo-img {
    width: 120px;
    height: auto;
}

.menu {
    padding-top: 20px;
    display: none;
    position: fixed;
    top: 165px;
    left: 0;
    width: 100%;
    height: calc(100% - 165px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.menu.active {
  display: block;
}

.menu-panel {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
}

.menu-panel .menu-item:first-child {
    margin-top: 80px;
}

.menu-item {
  padding-left: 5%;
  width: 100%;
  margin-top: 20px;
  height: 80px;
  padding-top: 2%;
  color: #8C8C8C;
}

#menu-icon{
    margin-top:45px;
    margin-right: 35px;
}

.menu-img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

#loop{
    padding-top: 160px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.block{
    width:98%;
    background-color: rgba(0, 138, 205, 0.52);
    border-radius: 48px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-inline: 15px;
    padding-top: 3px;
    text-decoration: none;
}

.block-link{
    text-decoration: none;
}

.block-img{
    margin-top: 1.5%;
    width: 100%;
    border-radius: 32px 32px 0 0;
    display: block;
}

.block-text{
    margin-left: 1.5%;
    font-weight: bold;
    padding-top: 15px;
    color: black;
}

.location-info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.location-icon{
    height: 50px;
    margin-right: 10px;
}

.address-text {
    font-size: 32pt;
    margin: 0;
    color: white;
    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
}


/***************************************/
select, 
option,
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

#floor-selector{
    width: 600px;
    height: 100px;
    border-radius: 20px;
    font-size: 30pt;
}

#floor-selector-option{
    font-size: 30pt;
}