name: Deploy to server

on:
  push:
    branches:
      - frontend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t matmeh-maps -f Matmekh.Maps/Dockerfile Matmekh.Maps

      - name: Save Docker image
        run: docker save matmeh-maps | gzip > image.tar.gz

      - name: Copy image to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: image.tar.gz
          target: ${{ secrets.SERVER_PATH }}

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            docker load < image.tar.gz
            docker stop matmeh-maps || true
            docker rm matmeh-maps || true
            docker run -d \
              --name matmeh-maps \
              -p 80:8080 \
              --restart always \
              matmeh-maps
